<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedz</title>
    
</head>
<body>
    <div class="main">
        <div class="header">
            <img src="/img/feedz-logo.png" />
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div class="footer">
            
        </div>
    </div>
</body>
</html>