
{% extends "template.twig" %}

{% block content %}
    
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <b>Create a new user</b>
            </div>    
        </div>
        <div class="card-body">
            {% include 'flash.twig' %}
            <form action="/users/add" method="post"> 
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" name="name" class="form-control" id="name">
            </div>            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="/users" class="btn btn-link"> Go Back</a>
            </form>
        </div>
    </div>

{% endblock %}

